<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BooksAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>606B57B01CE0F8C000E82D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606B57C91CE0F8C000E82D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606B57D41CE0F8C000E82D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
